.idea/
.git/
debug/
release/
bin/*.so
bin/*.SOVERSION
bin/*.a
bin/*.dylib
bin/*.dll
bin/*.lib
bin/*.pdb
bin/*.exe
bin/*.ilk
bin/*.exp
bin/lynxd
bin/lynxd-SOVERSION
bin/var
bin/tmp
var/node_modules/
var/package-lock.json